.bottom-panel {
  background-color: black;
  height: 1.7em;
}

.window-list {
  /* spacing: 2px; */
  font-size: 10pt;
}

.window-button {
  padding: 1px;
}

.window-button-box {
  spacing: 4px;
}

.window-button > StWidget {
  -st-natural-width: 18.75em;
  max-width: 18.75em;
  color: #bbb;
  background-color: black;
  border-radius: 2px;
  padding: 2px 6px 2px;
  /* text-shadow: 1px 1px 4px rgba(0,0,0,0.8); */
}

.window-button:hover > StWidget {
  color: white;
  background-color: #1f1f1f;
}

.window-button.focused > StWidget {
  color: white;
  background-color: #33393b;
}


.window-button.minimized > StWidget {
  color: #666;
}

.window-button-icon {
  width: 19px;
  height: 19px;
}

.window-list-workspace-indicator {
  padding: 1px;
}

.window-list-workspace-indicator > StWidget {
  background-color: #33393b;
  border-radius: 2px;
}

.notification {
  font-weight: normal;
}
